@import 'tailwindcss';
@plugin 'daisyui';

html {
  min-height: 100%;
}

body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

button,
a {
  font-family: inherit;
}

#root {
  min-height: 100svh;
}
